/*Krishiv Bahl 8973846*/
html{
    font:normal normal normal 20px/1.5 Arial, Helvetica, sans-serif;

}
body{
   
    width: 100vw;
    height:100vh;
    background-color: rgb(121, 100, 144);
    display:flex;
    flex-direction: column;
    
}
h1{
color: aqua(08, 10, 10);
}
h2{
color : rgb(208, 10, 10);
font-size: 2rem;
}
header{
   background-color:hsl(201, 77%, 42%);
}
nav ul li{
display: inline;
list-style-type: none;
}

nav ul li a{
color: indigo;
border: 0.1em solid indigo;
background-color: cornsilk;
text-decoration: none;
padding: 0.25rem;
}
nav ul li a:hover{
    color: cornsilk;
    background-color: indigo;
    border-color: cornsilk;
}
section{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
main{
flex: 2 1 70%;

background-color:hsl(74, 92%, 46%);
}
aside{
   flex: 1 1 30%;
    background-color:hsl(155, 91%, 45%);
}

aside li{
    list-style-type:square;
    line-height: 2em;
   
    color:rgba(22, 21, 21, 0.7);
   
}
aside a{
    color:rgba(22, 21, 21, 0.7);
}
footer{
    
    background-color:hsl(341, 86%, 46%);
}
.structural{
margin: 1rem;
padding: 1rem;
border: 0.1rem solid black;
}
#para1{
color:rgb(241, 10, 41)
}
#para2{
color:rgb(55, 16, 197)
}
form{
    border: 5px dashed darkblue;
    padding: 5px;
}
input[type=text],input[type=email],input[type=submit]select,option
{
    display: block;
    width: 50%;
    height:2em
}

input[type=radio],input[type=checkbox]{
    height: 2em;
    width: 2em;
}
select,option,input,legend,label{
font-size: 1.5rem;
font-weight: bold;
font-variant: small-caps;

}

textarea{
    display: block;
    width: 50%;

}
fieldset{
    border: none;
}

aside a:hover{
color:#f02;
}
footer p{
  font-size: .75em;  
}
img{
width: 80%;
height: 80%;

}
figure{
border: 0.1em solid black;
}

#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 0.5rem;
}
@media (max-width:600px){
html{
    font-size: 10px;
}
   #gallery{
    grid-template-columns:1fr ;
    grid-template-rows:1fr ;
   } 
   section{
    display: block;

   }
}